.mainScreenContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title {
  font-size: 36px;
}

.inputContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 316px;
}

.buttonContainer {
  width: 316px;
}

