.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: auto;
}
.title,
.textArea {
    margin-bottom: 10px;
}

.title {
    margin-top: 22px;
}

.textArea {
    width: 100%
}

.round {
    font-size: 38px;
    margin-bottom: 22px;
}

.players {
    font-size: 18px;

}
