.rulesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: -webkit-fill-available;
}

.list {
    margin-bottom: 20px;
    font-size: 16px;
}

.list > ol {
    padding-left: 0;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
}
